@import '../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css';

* {
    margin: 0;
    padding: 0;
}

.icon {
    color: white;
}

/* Styling for input ranges (firefox only for now)
 * this link looks helpful for cross-browser styling:
 * http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
 */
input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-moz-range-track {
    background: #000;
    border: none;
}
