<timeline [width]="timelineWidth"
          [playHeadPos]="playHeadPos"
          (changePlayHeadPos)="handleChangePlayHeadPos($event)"
          (selection)="handleSelection($event)"></timeline>
<media-controls [playing]="isPlaying" 
                (playingChange)="handlePlayPause($event)"
                (forwards)="handleJump(true)"
                (backwards)="handleJump(false)">
</media-controls>
<time-display [currentTime]="currentTime"></time-display>

<volume-control (volumeChange)="handleVolumeChange($event)"></volume-control>
<br>
<playback-rate-control [playbackRates]="playbackRates" (playbackRateChange)="handlePlaybackRateChange($event)"></playback-rate-control>
<br>
<zoom-control (zoomChange)="handleZoomChange($event)"></zoom-control>