<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TubeTranscribe</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1>TubeTranscribe</h1>
    <p>Learn your music, without the fuss.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
            <input #ytURL type="text" class="form-control" placeholder="Enter a YouTube video URL...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="handleURLSubmit()">Go!</button>
            </span>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h2>Fast.</h2>
        <p>Transcribe straight from YouTube. No need for clunky desktop software!</p>
    </div>
    <div class="col-md-4">
        <h2>Featureful.</h2>
        <p>Slow down/speed up playback rates, loop sections precisely (to the millisecond!) and save in-progress transcriptions.</p>
    </div>
    <div class="col-md-4">
        <h2>Free.</h2>
        <p>Need I say more?</p>
    </div>
    </div>

    <hr>

    <footer>
    <p>&copy; 2017 J.R. Maingat</p>
    </footer>
</div> <!-- /container -->


  </body>