<div id="media-controls-wrapper">
  <div class="btn-group" role="group">
    <button title="Jump backwards" id="backwards" class="btn btn-secondary" (click)="handleBackwards()">
      <i class="glyphicon glyphicon-backward"></i>
    </button>

    <button [attr.title]="playing ? 'Pause' : 'Play'" id="playPause" class="btn btn-warning" (click)="togglePlayPause()">
      <div *ngIf="playing">
        <i class="glyphicon glyphicon-pause"></i>
      </div>
      <div *ngIf="!playing">
        <i class="glyphicon glyphicon-play"></i>
      </div>
    </button>
    <button title="Jump forwards" id="forwards" class="btn btn-secondary" (click)="handleForwards()">
      <i class="glyphicon glyphicon-forward"></i>
    </button>
  </div>
  <button title="Save marker" id="save-marker" class="btn btn-danger" (click)="handleSaveMarker()">
    <i class="glyphicon glyphicon-flag"></i>
  </button>
</div>