<div class="controls">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <media-controls [playing]="isPlaying" 
                    (playingChange)="handlePlayPause($event)"
                    (forwards)="handleJump(true)"
                    (backwards)="handleJump(false)">
                </media-controls>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-1">
                <time-display [currentTime]="currentTime"></time-display>
            </div>
            <div class="sliders col-lg-2">
                <volume-control (volumeChange)="handleVolumeChange($event)"></volume-control>
                <playback-rate-control [playbackRates]="playbackRates" (playbackRateChange)="handlePlaybackRateChange($event)"></playback-rate-control>
                <zoom-control (zoomChange)="handleZoomChange($event)"></zoom-control>
            </div>

        </div>
    </div>
</div>

<div class="timeline">
    <timeline [playing]="isPlaying"
            [width]="timelineWidth"
            [playHeadPos]="playHeadPos"
            (changePlayHeadPos)="handleChangePlayHeadPos($event)"
            (selection)="handleSelection($event)"></timeline>
</div>