/* Makes scrollbars invisible */
#timeline-wrapper {
    overflow-x: hidden;
}

/* Just sets any svgs we have to be undraggable */
svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Playhead style */
#playhead {
    /*stroke: #8C8C8C;*/
    stroke: red;
    stroke-width: 3px;
}

/* Hoverhead style */
#hoverhead {
    stroke: #8C8C8C;
    stroke-width: 3px;
}

/* Timeline background style */
#timeline-bg {
    fill: #1F1F1F;
}

/* Timeline background style */
#elapsed-box {
    fill: #303030;
}
