/* Makes scrollbars visible */
#timeline-wrapper {
    overflow-x: scroll;
}

/* Just sets any svgs we have to be undraggable */
svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Playhead style */
#playhead {
    stroke: #8C8C8C;
    stroke-width:2;
}

/* Timeline background style */
#timeline-bg {
    fill: #1F1F1F;
}
